0 0,6,9,12,15,18,21 * * * root /usr/local/bin/python /home/app/rent_entry.py && tail -f /var/log/cron.log 2>&1
30 9,15,21 * * * root /usr/local/bin/python /home/app/sale_entry.py && tail -f /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job